.container {
    width: 100%;
    height: auto;
    display: flex;
    z-index: 100;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .Top-container {
    width: 100%;
    height: 397px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1545125116-9483cf79612c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxtb25rZXl8ZW58MHx8fHwxNjM3NTE5OTY1&ixlib=rb-1.2.1&w=1500");
    background-position: 0% 40%;
  }
  .Navbar {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    max-width: 1000px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .text {
    color: #ffffff;
  }
  .text01 {
    color: #f79817;
  }
  .Right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .Links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .navlink {
    color: #ffffff;
    margin-right: var(--dl-space-space-doubleunit);
    text-decoration: none;
  }
  .navlink1 {
    color: #ffffff;
    margin-right: var(--dl-space-space-doubleunit);
    text-decoration: none;
  }
  .navlink2 {
    color: #ffffff;
    margin-right: var(--dl-space-space-doubleunit);
    text-decoration: none;
  }
  .navlink3 {
    display: contents;
  }
  .component {
    text-decoration: none;
  }
  .Burger-menu {
    width: 24px;
    height: 24px;
    display: none;
  }
  .Hero {
    flex: 1;
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .Content-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text02 {
    color: var(--dl-color-gray-white);
  }
  .Subheading {
    color: #ffffff;
  }
  .Main {
    width: 100%;
    height: 344px;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-quadruple);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 108px;
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-quadruple);
    justify-content: center;
    background-color: #D9D9D9;
  }
  .ul {
    list-style-type: none;
  }
  .li {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .link {
    list-style-type: none;
    text-decoration: none;
  }
  .li01 {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .text04 {
    list-style-type: none;
    text-decoration: none;
  }
  .text05 {
    text-decoration:  underline;
  }
  .text06 {
    text-decoration: none;
  }
  .li02 {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .link2 {
    list-style-type: none;
    text-decoration: none;
  }
  .li03 {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .text07 {
    list-style-type: none;
    text-decoration: none;
  }
  .li04 {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .text09 {
    list-style-type: none;
    text-decoration: none;
  }
  .li05 {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .text12 {
    color: #ec5050;
    list-style-type: none;
    text-decoration: none;
  }
  .link5 {
    list-style-type: disc;
    text-decoration: none;
    list-style-image: none;
    list-style-position: outside;
  }
  .link6 {
    text-decoration: none;
  }
  .link7 {
    text-decoration: none;
  }
  .link8 {
    text-decoration: none;
  }
  .Footer {
    flex: 1;
    color: var(--dl-color-gray-white);
    width: 100%;
    height: 160px;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 100;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .Menu {
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .text14 {
    color: #f79817;
  }
  .Links-container1 {
    width: 177px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .container1 {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    flex-direction: column;
  }
  .navlink4 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .navlink5 {
    text-decoration: none;
  }
  .Follow-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-between;
  }
  .text15 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  @media(max-width: 991px) {
    .Hero {
      padding-left: var(--dl-space-space-tripleunit);
      padding-right: var(--dl-space-space-tripleunit);
    }
  }
  @media(max-width: 767px) {
    .Right-side {
      display: none;
    }
    .Burger-menu {
      display: flex;
    }
    .Hero {
      justify-content: center;
    }
    .Content-container {
      align-items: center;
    }
    .text02 {
      font-size: 2.5rem;
    }
    .Main {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .Menu {
      flex-direction: column;
    }
    .Links-container1 {
      margin-top: var(--dl-space-space-tripleunit);
      margin-bottom: var(--dl-space-space-tripleunit);
      justify-content: space-between;
    }
  }
  @media(max-width: 479px) {
    .text02 {
      font-size: 2rem;
      text-align: center;
    }
    .Subheading {
      font-size: 1.3rem;
      text-align: center;
    }
    .Links-container1 {
      margin-top: var(--dl-space-space-doubleunit);
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container1 {
      height: 100%;
      align-items: flex-start;
      margin-left: 50px;
    }
    .navlink4 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .navlink5 {
      margin-bottom: var(--dl-space-space-halfunit);
    }
    .Follow-container {
      margin-left: 0px;
    }
  }